.uniform-select {
    border: none; 
    padding: 2%; 
    margin: 1%;
    width: 100%;
}
.row-flex {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    max-height: 100px;
}

.row-flex-dataset-case {
  display: flex; 
  justify-content: space-between; 
  /* align-items: center; */
  /*max-height: 300px;*/
}

.uniform-select-dataset-case {
    border: none; 
    /* padding: 2%;  */
    /* margin: 1%; */
    width: 10%;
}

.vertical-flex {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center align items */
}
.newpred-action-button-div {
  margin-bottom: 10px; /* Space between buttons */
}
