#breast_volcano {
  width: 100% !important; 
  height: 730px !important; 
  visibility: inherit !important;
}

#breast_cancer_volcano_custom {
  width: 100% !important; 
  height: 530px !important; 
  visibility: inherit !important;
}